* {
  margin: 0;
}

body {
  font-family: Inter;
  height: 100vh;
  text-align: center;
}

.exercise {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

img {
  width: 20%;
}

p {
  font-size: 1.1rem;
}
